body{
    background-color: #87a9b2;
    background-image: url(../img/seitai_back.png);
    font-family: 'Hiragino Kaku Gothic ProN', 'Yu Gothic UI', sans-serif;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
}

h1{
    z-index: 5;
}

.seitai_top{
    width: 100vw;
    margin-top: -1em;
    z-index: -1;
}

.ground{
    width: 100vw;
    margin-top:-1em;
    z-index: -1;
}

main {
    width: 50vw;
    text-align: center;
}

.moai_str1{
    margin-top:17em;
    color: #FFF;
    font-size: 90px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.moai_str2{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cont_moai_wall{
     text-align: center;
}

.moai_wall{
    display: inline-block;
}

.sub_title{
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.list-wrapper {
  display: flex;
  gap: 25rem;
  justify-content: center; 
  text-align: left;
  color: #FFF;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 2vw;
margin-top: 3em;
}

.list-column {
  list-style-type: disc;
  padding-left: 0em;
}

.arrow{
    width: 40vw;
}

.cont_10tu{
display: grid;
width: 963px;
height: 910px;
row-gap: 30vw;
column-gap: 30vw;
flex-shrink: 0;
grid-template-rows: repeat(1, minmax(0, 1fr));
grid-template-columns: repeat(2, minmax(0, 1fr));
text-align: left;
margin-top: 5em;
}
.cont_2_1{
width: 25vw;
grid-row: 1 / span 1;
grid-column: 1 / span 1;

color: #FFF;
font-family: "Kiwi Maru";
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;

margin-left: -3vw;

}

.cont_2_2{
width: 25vw;
grid-row: 1 / span 1;
grid-column: 2 / span 1;

color: #FFF;
font-family: "Kiwi Maru";
font-size: 60px;
font-style: normal;
font-weight: 500;
line-height: normal;
}



footer {
    position: relative;
  top: 3500px;
}